.root{
    -fx-fill: #3c3f41;
    /*-fx-font-family: 'Open Sans', sans-serif;*/
    -fx-base: #3c3f41;
    -fx-background: #2b2b2b;
    -fx-focus-color: #3c3f41;
    -fx-background-image: none;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}

/*.buttonStyle {*/
/*    -fx-text-fill: red;*/
/*    -fx-background-color: lightcyan;*/
/*    -fx-border-color: green;*/
/*    -fx-border-radius: 5;*/
/*    -fx-padding: 3 6 6 6;*/
/*}*/