.root{
    -fx-fill: #000037;
    /*-fx-font-family: 'Open Sans', sans-serif;*/
    -fx-base: #000037;
    -fx-background: #000037;
    -fx-focus-color: #4173ff;
    -fx-background-image: url("theme_future-bg.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 800 640;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}

/*.buttonStyle {*/
/*    -fx-text-fill: #fff;*/
/*    -fx-background-color: #fc234f;*/
/*    !*-fx-border-color: #b01330;*!*/
/*    -fx-border-radius: 5;*/
/*    -fx-padding: 3 6 6 6;*/
/*}*/
.buttonStyle {
    -fx-text-fill: #000037;
    -fx-background-color: #fff;
    -fx-border-color: transparent;
    /*-fx-border-color: #33335f;*/
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-padding: 3 6 6 6;
}