.chart-series-line{
    -fx-stroke-width: 2px;
}

.default-color0.chart-series-line{-fx-stroke: #167ac6}
.default-color1.chart-series-line{-fx-stroke: #3db975}
.default-color2.chart-series-line{-fx-stroke: transparent}

.default-color0.chart-line-symbol{
    -fx-background-color: #167ac6, #ffffff;
    -fx-background-insets: 0, 2;
    -fx-padding: 0px;
    -fx-background-radius: 5px;
}

.default-color1.chart-line-symbol{
    -fx-background-color: #3db975;
    -fx-background-insets: 0, 2;
    -fx-padding: 3px;
    -fx-background-radius: 5px;
}

.default-color2.chart-line-symbol{
    //-fx-background-color: transparent, transparent;
    -fx-background-color: #d24040;
    -fx-background-insets: 0, 2;
    -fx-padding: 3px;
    -fx-background-radius: 5px;
}

.progress-bar > .bar {
    -fx-background-color: linear-gradient(to bottom, derive(-fx-accent, -7%), derive(-fx-accent, 0%), derive(-fx-accent, -3%), derive(-fx-accent, -9%) );
    -fx-background-insets: 3 3 4 3;
    -fx-background-radius: 2;
    -fx-padding: 0.75em;
}

.progress-bar {
    -fx-indeterminate-bar-length: 260;
    -fx-indeterminate-bar-escape: true;
    -fx-indeterminate-bar-flip: true;
    -fx-indeterminate-bar-animation-time: 2;
}


.range-slider .range-bar { -fx-background-color: red;}
.range-slider .track { -fx-background-color: red;}

.range-slider .low-thumb  { -fx-background-color: blue;}
.range-slider .high-thumb  { -fx-background-color: orange;}